body {
    font-family: sans-serif;
    background-color: greenyellow;
}
h1 {
    text-align: center;
    color: blue;
}
header {
    background-color: chartreuse;
}
.social {
    padding-top: 100px;
}
footer {
    background-color: black;
    color: white;
}
.pon {
    border: blueviolet solid 1px;
}
